body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    grid-column: span 4;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    border-radius: 8px 8px 0 0;
}

.button {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #801c1c;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #0f0808;
}
